
@model SendMessageViewModel

@{ Html.RenderPartial("../Shared/_PartialAlerts"); }

<section class="container_padding ">
    @using (Html.BeginForm("Send", "Message", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)

        <div class="row form-group">
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "Nome" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Sobrenome" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-mail" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Telefone" })
                @Html.ValidationMessageFor(m => m.PhoneNumber)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12">

                @Html.DropDownListFor(m => m.Title,
                new List<SelectListItem> {
                    new SelectListItem { Value = "Quero ser contactado." , Text = "Quero ser contactado." },
                    new SelectListItem { Value = "Pedido de informações." , Text = "Pedido de informações." },
                    new SelectListItem { Value = "Outro." , Text = "Outro." }
                },
                new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.Title)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12">
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @placeholder = "Mensagem" })
                @Html.ValidationMessageFor(m => m.Message)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12">
                <input type="submit" name="submit" id="submit" value="Enviar" class="btn btn-info pull-right">
            </div>
        </div>
    }
</section>
