@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown"><span aria-hidden="true" class="fa fa-cogs"></span> Olá @User.Identity.GetUserName() <span aria-hidden="true" class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.Action("Edit", "Account")"><span aria-hidden="true" class="fa fa-pencil-square-o"></span> Alterar dados</a></li>
                <li><a href="@Url.Action("All", "Account")"><span aria-hidden="true" class="fa fa-user"></span> Gerir utilizadores</a></li>
                <li><a href="@Url.Action("All", "Settings")"><span aria-hidden="true" class="fa fa-wrench"></span> Configurações gerais</a></li>
                <li><a href="@Url.Action("All", "Message")"><span aria-hidden="true" class="fa fa-envelope"></span> Mensagens</a></li>

                <li><a href="/@ConfigurationManager.AppSettings["elmah.mvc.route"]"><span aria-hidden="true" class="fa fa-life-ring"></span> Logging</a></li>
                <li><a href="/glimpse"><span aria-hidden="true" class="fa fa-line-chart"></span> Diagnostics</a></li>
                <li><a href="/trace.axd"><span aria-hidden="true" class="fa fa-heart"></span> Tracing</a></li>
                <li><a href="/management"><span aria-hidden="true" class="fa fa-info-circle"></span> Boilerplate</a></li>

                <li><a href="javascript:document.getElementById('logoutForm').submit()"><span aria-hidden="true" class="fa fa-sign-out"></span> Sair </a></li>
            </ul>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Login", "Account")"><span aria-hidden="true" class="fa fa-sign-in "></span> Entrar</a></li>
    </ul>
}

